.tgsc_Subject {
    &_Name {
        @include flexLayout;
        color: $black;
        font-size: 200px;
    }
    &_Circle {
        @include circle_Big($tgsc_blue);
        float: right;
        margin-right: 250px;
        margin-bottom: 100px;
        line-height: 250px;
        text-align: center;
        color: $white;
        font-size: xx-large;
        font-weight: bolder;
    }
}